.page-footer {
    background-color: var(--hero-ftr-bgc-color);
    padding: 60px 0;
  }
  
  .page-footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .page-footer__logo {
    margin-bottom: 20px;
  }
  
  .page-footer__logo--light {
    color: var(--white-logo-color);
  }
  
  .page-footer__address {
    margin-top: 20px;
  }
  
  .page-footer__location {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-logo-color);
  }
  
  .ftr-contact__item {
    margin-top: 9px;
  }
  
  .ftr-contact__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--ftr-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .ftr-soc__text {
    margin-bottom: 20px;
    color: var(--white-logo-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .ftr-soc__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
  
  .ftr-soc__item {
    width: 44px;
    height: 44px;
  }
  
  .ftr-soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-logo-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .ftr-soc__link:hover, .ftr-soc__link:focus {
    background-color: var(--accent-color);
  }
  
  .subscribe {

    &__text {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-logo-color);
    }
    
    &__form {
        display: flex;
    }
    
    &__input {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        outline: transparent;
    }
    
    &__input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    
    }
    
    &__btn {
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 50px;
        fill: var(--white-logo-color);
    }
}