.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: getColor('accent-color');
    @extend .link;

    &--light {
      color: getColor('white-logo-color');
    }

    &--dark {
      color: getColor('logo-color');
    }
  }