:root {
    --primary-bgc-color: #F5F5F5;
    --secondary-bgc-color: #F5F4FA;
    --hero-ftr-bgc-color: #2F303A;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --logo-color: #000000;
    --white-logo-color: #FFFFFF;
    --accent-color: #2196F3;
    --ftr-text-color: rgba(255, 255, 255, 0.6);
    --btn-hover-focus: #188CE8;
    --border-color: #EEEEEE;
    --icon-current-color: #AFB1B8;
  }